button {
    display: inline-block;
    border: none;
    padding: .3rem 1.3rem;
    border-radius: 50px;
    text-decoration: none;
    background:#00ADFC;
    color: white;
    font-family: sans-serif;
    font-size: .8rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

button:hover,
button:focus {
    background:#F9F8F5;
    color:#1D1B2F;
    border: .03em solid #1D1B2F;
}

button:focus {
    outline:none;
}

button:active {
    transform: scale(0.99);
}

dialog  {
    background-color:;
    height: 200px;
    width: 200px;
}
