


h1 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    align-self: center;
}

header {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-direction: column;
}

.hero {
    display: flex;
    margin: 0px -20px 0px -20px;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    color: white;
}

/* img {
    border-radius: 25px;
    margin-top: 50px;
    width: 77%;
    height: 38em;
    align-self: center;
} */

.image {
    display: block;
    width: 50%;
    height: auto;
    padding: 1em;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 2px 32px 8px rgba(30,28,47,0.48);

  
  } 

.index__img {
    height: 100%;
    width: 100%;
    margin-bottom: 122px;
}


p.imgcaption {
    margin-top: 4px;
    align-self: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.dialog__img {
    max-width: 200px;
    padding-TOP: 1em;
    padding-bottom: .5em;
    height: auto;
}