@import 'nav.css';
@import 'image.css';
@import 'section.css';
@import 'button.css';

body {
    font-family: GillSans-Light;
    color: black;
    background-color:#efebd9;

}

.index__caption {
    font-family: GillSans-Light;
    text-align: center;
    color: black;
    font-weight: 200;
}



.overlay {
    position: absolute;
    top: 18%;
    bottom: 0;
    left: 25%;
    right: 0;
    height: 10%;
    width: 50%;
    opacity: 0;
    transition: .5s ease;
    background-color: #00adfc;
    border-radius: 20px;
  }

  .hero:hover .overlay {
    opacity: .75;
  }

  
  .text {
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }
  