.country__article {
    font-family: GillSans-Light;
    display: flex;
    justify-content: space-evenly;
    padding-top: 2em;
    padding-bottom: 2em;
}

.city__list {
    font-family: GillSans-Light;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-bottom: 2em;
}

.landmark__list {
    margin-top: -10px;
}

.landmark__name {
    font-weight: 550;
}

.landmark__city {
  
    padding-bottom: .5em;
}

.leader__list {
    margin-top: -10px;
}

.leader__name {
    font-weight: 550;
}

.leader__reign {
    font-weight: 500;
    margin-bottom: .5em;
}

section {
    border: 2px solid peachpuff;
    height: 200px;
    display: flex;
    flex-direction: column;
    flex-basis: 30%;
    text-align: center;
    transition-duration: .5s;
}

h4 {
    text-decoration: underline;
}

div {
    flex-basis: 50%;
}

.highlightCard {
    background-color: peachpuff;
    background-position: center;
    border: 1px solid black;
    transition-duration: .5s;
    flex-basis: 40%;
    border-radius: 50%;
}

.highlightCard h4 {
    font-size: 20px;
    text-transform: uppercase;
    transition-duration: .5s;
}

section.index__card {
    border: none;
    height: auto;
    background-position: center;
    /* transition-duration: .5s; */
    /* border-radius: 50%; */
}


section.index__card:hover {
    border: .01px solid peachpuff;
    flex-basis: 50%;
}